<h3 class="heading_b uk-margin-bottom">Edit User</h3>

<div class="md-card">
    <div class="md-card-content large-padding">
      <%= form_tag("save_user", method: :put, class: "uk-form-stacked", id: "form_validation") do |f| %>
            <input type="hidden" name="page" value="edit_user">
            <input type="hidden" name="user_id" value="<%=params[:user_id]%>">
            <div class="uk-grid" data-uk-grid-margin>
              <div class="uk-width-medium-1-4">
                <div class="parsley-row">
                  <label for="first_name">First Name<span class="req">*</span></label>
                  <input type="text" name="first_name" required class="md-input" value="<%=@user.first_name%>"/>
                </div>
              </div>
              <div class="uk-width-medium-1-4">
                <div class="parsley-row">
                  <label for="middle_name">Middle Name</label>
                  <input type="text" name="middle_name" class="md-input" value="<%=@user.middle_name%>"/>
                </div>
              </div>
              <div class="uk-width-medium-1-4">
                <div class="parsley-row">
                  <label for="last_name">Last Name<span class="req">*</span></label>
                  <input type="text" name="last_name" class="md-input" value="<%=@user.last_name%>"/>
                </div>
              </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
              <div class="uk-width-medium-1-2">
                <div class="parsley-row">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="md-input" value="<%=@user.email%>" disabled/>
                </div>
              </div>
            </div>
            <div class="uk-margin-top uk-margin-bottom">
              <input type="checkbox" data-switchery data-switchery-color="#1e88e5" id="switch_change_password" />
              <label for="switch_demo_primary" class="inline-label">Change Password</label>
            </div>
            <div class="uk-margin-top uk-margin-bottom" id="input_password"></div>
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <button type="submit" class="md-btn md-btn-primary">Update</button>
                </div>
            </div>
        <%end%>
    </div>
</div>

