%header.header-area
  .header-top
    .container
      / DESKTOP TOP LINKS STARTS
      %ul.ul-top-navigation.ul-top-navigation-desktop.hidden-xs.pull-right
        %li
          %a{:href => "#"} Order Tracking
        %li.star-icon
          %a{:href => "#"}
            Ship To:
            %img{:alt => "star-icon", :src => asset_path("img/icons/star-icon.png")}/
        %li
          %a{:href => "#"} Chat
        %li
          %a{:href => "#"} 1.877.551.7257
        %li
          %a{:href => "#{shopping_carts_path}"}
            My Bag(
            %span.bag-count=@shopping_cart.shopping_cart_items.count
            )
        -if current_user.present?
          %li
            =link_to current_user.full_name,profile_user_path(current_user)
          %li
            = link_to "Log out", destroy_user_session_path,method: :delete
        -else
          %li
            =link_to "Sign In",new_user_session_path
          %li
            = link_to "Sign Up", new_user_registration_path
      / DESKTOP TOP LINKS ENDS
      / MOBILE TOP LINKS STARTS
      %ul.ul-top-navigation.ul-top-navigation-mobile.hidden-lg.hidden-md.hidden-sm.pull-right
        %li
          %a{:href => "#"}
            %i.fa.fa-comment{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-phone-square{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
        / %li.m-trigger
        /   %a{:href => "#"}
        /     %i.fa.fa-bars{"aria-hidden" => "true"}
      / MOBILE TOP LINKS ENDS
    / .container ends
  / .header-top ends
  .container

    %a.logo-wrapper{:href => root_path}
      %img.img-responsive{:alt => "logo", :src => asset_path("boutiqueken_V1.png")}/
    / MOBILE OFFER TOP TEXT STARTS
    .search-panel.search-wrapper-big-screen
      %form.pull-right.search-box{:action => search_products_path()}
        %input{:type => "text", name: "search_txt", value: "#{params[:search_txt]}" ,:placeholder=>"What can we can help you find?"}/
        %button{:type => "submit"}
          %i.fa.fa-search
    .clear-fix
    %p.pull-right.free-offer.free-offer-mobile.hidden-lg.hidden-md.hidden-sm
      / Enjoy Free Express Shipping on orders $100+
      / %a{:href => "#"} Details
    / MOBILE OFFER TOP TEXT ENDS
    / MEDIUM SCREEN SEARCH BOX AREA STARTS
    .search-wrapper.search-wrapper-medium-screen
      %p.pull-left.free-offer.free-offer-desktop.hidden-xs
        &nbsp;
        / Enjoy Free Express Shipping on orders $100+
        / %a{:href => "#"} Details
      %form.pull-right.search-box{:action => search_products_path()}
        %input{:type => "text", name: "search_txt", value: "#{params[:search_txt]}" ,:placeholder=>"What can we can help you find?"}/
        %button{:type => "submit"}
          %i.fa.fa-search
        %a.m-trigger.pull-right{:href => "#"}
          %i.fa.fa-bars{"aria-hidden" => "true"}

    / MEDIUM SCREEN SEARCH BOX AREA ENDS
    / DESKTOP NAVIGATION STARTS
    =render "shared/menu_top2"
    / DESKTOP NAVIGATION ENDS
    
    / BIG SCREEN SEARCH BOX AREA STARTS
    .search-wrapper.search-wrapper-big-screen
      %p.pull-left.free-offer.free-offer-desktop
        &nbsp;
        / Enjoy Free Express Shipping on orders $100+
        / %a{:href => "#"} Details
      / %form.pull-right.search-box{:action => search_products_path()}
      /   %input{:type => "text", name: "search_txt", value: "#{params[:search_txt]}"}/
      /   %button{:type => "submit"}
      /     %i.fa.fa-search
    / BIG SCREEN SEARCH BOX AREA ENDS
  / .container ends
/ HEADER ENDS
/ SECTION HOME CONTENT Starts