%section.section-signin-area
  .container
    .signin-inner
      .row
        .col-md-6
          .sign-in-col.sign-in-col-left
            %h4 Forgot your password?
            %p Email will be sent via your email address
            = form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :put ,class: "form-horizontal validate-form", "data-parsley-validate" => true, autocomplete: "off"}) do |f|
              .devise-error
                .error-txt
                  = devise_error_messages!
              .devise-error
                -flash.each do |name,msg|
                  %div.error-txt
                    = msg
              = f.hidden_field :reset_password_token
              %label{:for => "password"} New password
              %br
              - if @minimum_password_length
                %em
                  ="(#{@minimum_password_length} characters minimum)"
                %br
              = f.password_field :password, autofocus: true, autocomplete: "off",placeholder: "Password", required: true, "data-parsley-trigger" => "change", "data-parsley-required-message" => "Oops, Password is required!",:id =>"password"
              = f.label :password_confirmation, "Confirm new password"
              = f.password_field :password_confirmation, autocomplete: "off",placeholder: "Password confirmation", required: true, "data-parsley-trigger" => "change", "data-parsley-required-message" => "Password confirmation is required!",:id =>"password","data-parsley-equalto"=>"#password","parsley-equalto-message" => "Password confirmation does not match"
              %br
              = f.submit "SAVE",class: "btn-cus btn-reset"
