%section.section-signin-area
  .container
    .signin-inner
      .row
        .col-md-6
          .sign-in-col.sign-in-col-left
            %h4 sign in
            %p You have previously created an account at Saks.com.
            
            / %form{:action => "#"}
            = form_for(resource, as: resource_name, html: {class: "form-horizontal validate-form", "data-parsley-validate" => true, autocomplete: "off"}, url: session_path(resource_name)) do |f|
              .devise-error
                -flash.each do |name,msg|
                  %div.error-txt
                    = msg
              %label{:for => "email"} Email Address
              
              / %input#email{:type => "email"}/
              = f.text_field :email, autofocus: true, autocomplete: "off", placeholder: "Email", "data-parsley-type" =>"email", "data-parsley-trigger" => "change", "data-parsley-required-message" => "Oops, Email is required!",:id =>"email"
              %label{:for => "password"} Password
              / %input#password{:type => "password"}/
              = f.password_field :password, autocomplete: "off",placeholder: "Password", "data-parsley-required-message" => "Oops, Password is required!","data-parsley-trigger" => "change",:id =>"password"
              / %a.forgot-p{:href => "#"} Forgot Password?
              = link_to "Forgot Password?", new_password_path(resource_name),class: "forgot-p"
              / %button{:type => "submit"} SIGN IN
              = f.button "SIGN IN"
        / .col-md-6 ends
        .col-md-6
          .sign-in-col.sign-in-col-right
            %h4 CREATE AN ACCOUNT
            %p You have not created an account at Saks.com
            %strong Creating An Account Lets You  :
            %ul.ul-create-account-terms
              %li Save your information to take advantage of a faster checkout process
              %li Review your order history online
              %li Track your packages
              %li Check your SaksFirst rewards
              %li Write and submit product reviews
            / %button CREATE AN ACCOUNT
            =link_to "CREATE AN ACCOUNT", new_user_registration_path,class: "btn-cus"
          