/ PRODUCTS AREA STARTS

.main-product-area.product-list
  .sort-by-area
    .sort-left
      %h1.pull-left
        %span.c-red
          =@product_ls.total_count.to_s
        %span=" items in " + @category.cat_name.upcase
    / .sort-left ends
    .sort-right.hidden-xs
      .single-view-option.items
        %a{:href => "#"}
          %span
            =@product_ls.total_count
          items
      / .single-view-option.view-number.hidden-xs
      /   %a.per-page{:href => "#","data-length" => 60,:class =>determine_per_page_select(60,@per_page)} View 60
      /   %a.per-page{:href => "#", "data-length" => 180,:class =>determine_per_page_select(180,@per_page)}
      /     %span 180
      .single-view-option.view-pagi.hidden-xs
        %span.current=perpage_item_of(@product_ls.total_count,@product_ls.current_page,@per_page)
        of
        %span.total=@product_ls.total_count
      .single-view-option.pagi
        .kaminari-paging
          = paginate @product_ls
      / .single-view-option.pagi ends
    / .sort-right ends
  / .sort-by-area ends
  .product-showcase
    .row
      .product-item-div
        / SINGLE PRODUCT starts
        -if @product_ls.length <=0
          %div.nodata
            No data to display.
        -@product_ls.each do |i|
          .col-md-3.col-sm-4
            .single-product{:onclick => "window.location = '#{product_path(i)}'"}
              .product-img-wrapper.left-content-side
                -if i.product_details.present?
                  -is_need_main = true
                  -i.product_details.each_with_index do |detail,index|
                    - if detail.product_image.present?

                      %img.has-color{:alt => "product", "data-img" => "p-#{index}",:class=> index==0 ? "active" : "", :src => show_image_product_list(detail.product_image)}/
                      -is_need_main = false
                  -if is_need_main == true
                    %img.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_product_list(i.main_image_url)}/
                -else
                  %img.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_product_list(i.main_image_url)}/
              / .product-img-wrapper ends
              .product-details-info.right-content-side
                -if i.product_details.present?
                  %ul.coloring-ul
                    -i.product_details.each_with_index do |detail,index|
                      %li{"data-color" => "Black", "data-img" => "p-#{index}",:class=> index==0 ? "active" : ""}
                        %a{:href => "javascript:;"}
                          %img.img-responsive{:alt => "", :src => show_image_url(detail.color_image)}/
                  
                %strong
                  %a{:href => product_path(i)}=i.short_desc
                %span.reg-price
                  %strong 
                    Reg. $
                    =i.regular_price
                %span.sale-price
                  %strong
                    Ssle. $
                    =i.sale_price
            / .single-product ends
          / .col-md-4 ends
          / SINGLE PRODUCT ends
        
        / .col-md-4 ends
        / SINGLE PRODUCT ends
      .sort-right.sort-right-bottom
        .single-view-option.items
          %a{:href => "#"}
            %span=@product_ls.total_count
            items
        .single-view-option.view-number.hidden-xs
          / %a.per-page{:href => "javascript:;","data-length" => 60,:class =>determine_per_page_select(60,@per_page)} View 60
          / %a.per-page{:href => "javascript:;", "data-length" => 180,:class =>determine_per_page_select(180,@per_page)}
          /   %span 180
        .single-view-option.view-pagi.hidden-xs
          %span.current=perpage_item_of(@product_ls.total_count,@product_ls.current_page,@per_page)
          of
          %span.total=@product_ls.total_count
        .single-view-option.pagi
          .kaminari-paging
            = paginate @product_ls
          / %a{:href => "#"}
          /   %i.fa.fa-chevron-left
          / %ul.product-pagination
          /   %li
          /     %a{:href => "#"} 2
          /   %li
          /     %a{:href => "#"} 3
          /   %li
          /     %a{:href => "#"} 4
          /   %li
          /     %a{:href => "#"} 5
          / %a{:href => "#"}
          /   %i.fa.fa-chevron-right

